
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles{
    <link href="~/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />

}

<table id="datatable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Key
            </th>
            <th>
                Value
            </th>
            <th>
                Mô tả
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<!-- Table js -->
@section scripts{

    <script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/lib/bootstrap-table/locale/bootstrap-table-vi-VN.js"></script>
    <script src="~/js/controllers/systemConfig.js"></script>
}
<!-- END Table js -->
